html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    /* background-image: url('img/bg3.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    
}

#myChart {
    padding: 60px;
}

.chart {
    background-color: lightgray;
}


h1 {
    color: white;
    font-size: 3rem;
    display: flex;
    justify-content: center;

}

h2 {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

h3 {
    color: black;
    font-size: 1.5rem;
  
}

.headline {
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.image {
    height: 65px;
    margin-right: 35px;
    margin-left: 20px;
    /* transition: transform 0.7s; */
}

.main-content{
    /* background: linear-gradient(110deg, hsl(242deg 83% 11%) 14%, hsl(242deg 44% 17%) 80%); */
    background: linear-gradient(110deg, hsl(242deg 83% 11% / 85%) 14%, hsl(242deg 44% 17% / 79%) 80%);
    height: 100vh;
    min-width: auto;
}

.first-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}


.second-content {
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
    align-items: center;
}

.header-right{
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

}

.header-right a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    margin: 10px;
}

.header-right a:hover {
    color: yellow;
}

.input {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5 );
    padding: 0.7rem;
    border-radius: 10px;
    margin-right: 20px;
    background-color: white;
    border: unset;
    padding: 20px;
    outline: unset;
    cursor: pointer;
}
        
button {
    padding: 15px;
    width: 140px;
    font-size: 1.3rem;
    border-radius: 10px;
    border: unset;
    background: white;
    cursor: pointer;
}

button:hover {
    background-color: yellow;
}

span {
    font-size: 1.5rem;
    color: white;
}


/* .image:hover {
    transform: scale(1.5, 1.5);
} */

.arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.arrow-headline {
    font-size: 32px;
    color: white;
    padding: 40px;
}

.arrow img {
  height: 50px;
}


.alignitems {
    display: flex;
    align-items: center;
}

.current-price {
    color: yellow;
}


.input-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-width: 100%;
    /* background: linear-gradient(110deg, hsl(242deg 83% 11%) 14%, hsl(242deg 44% 17%) 80%); */
    background: linear-gradient(110deg, hsl(242deg 83% 11% / 85%) 14%, hsl(242deg 44% 17% / 79%) 80%);
}

.input-fields input {
    border: unset;
    border-radius: 20px;
    padding: 20px;
    border: 2px solid lightblue;
    outline: none;
}


.input-fields span {
    color: yellow;
    padding: 5px;
}

.input-fields img{
    padding: 20px;
}

.headline-second {
    font-weight: bold;
    font-size: 2.5rem;
    color: yellow;

}

.d-none{
    display: none;
}

.headline-third{
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    padding: 40px;
}

/* .main-section{
    background-color: white;
} */

/* .style-headline{
    color: white;
} */

.whyBitcoin{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 55px;
}
.sectionWhyBitcoin{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
    box-shadow: inset 0px 0 20px rgb(0 0 0 / 60%), 0 0 20px rgb(16 37 48 / 30%);
    padding: 20px;
    border-radius: 20px;
}

.sectionWhyBitcoin img{
    height: 150px;
}

.sectionWhyBitcoin p{
    text-align: center;
}

.container {
    height: 70vh;
}

/* .bg-color {
    background-color: lightgray;
} */

/* footer teil */

.footer {
    height: 250px;
    background: linear-gradient(110deg, hsl(242deg 83% 11% / 85%) 14%, hsl(242deg 44% 17% / 79%) 80%);
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.footer a {
    text-decoration: none;
    margin-right: 2rem;
    font-size: 1.2rem;
    color: white;
} 

.footer-left {
    margin-left: 40px;
}
.footer-left p {
    color: white;
    font-size: 12px;
}

.impressum {
    padding: 50px;
    background-color: #808080ad;
}



.info-section{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    font-size: 1.4rem; 
    height: 50vh;
    align-items: center;

}

h4 {
    color: black;
    font-size: 2rem;
    font-weight: bold;
    justify-content: center;
    display: flex;
    /* margin-block-start: 0em; */
    margin-block-end: 0em;
    /* padding: 20px; */
    margin-top: 40px;
}


.marginBottom {
    margin-bottom: 10px;
}

.border-text-align {
    /* border-bottom: 2px solid gray; */
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 40vw;

}

.datenschutz{
    padding: 20px;
    background-color: #808080ad;
}


.left {
    /* box-shadow: 0 2px 4px rgb(48 47 47 / 50%); */
    box-shadow: 8px 10px 68px -36px inset;
    padding: 40px;
    border-radius: 20px;
}


/* From here Responsive for Mobile Devices */ 

@media (max-width: 700px){

    .d-none {
        display: none;
    }

    .container {
        height: unset !important;
    }

    .info-section {
        height: unset !important;
        flex-direction: column;
    }

    .first-content{
        justify-content: center;
    }
    

    .second-content{
        flex-direction: column;
        margin: 20px;
    }

    .arrow {
        margin-top: unset;
    }

    h2 {
        text-align: center;
    }

    .headline-second{
        text-align: center;
    }

    .left {
        margin: 20px;
    }

    .sectionWhyBitcoin{
        margin: 20px;
    }

    .image {
        display: none;
    }

    h1 {
        display: none;
    }

    .calender, .calender-second {
        margin: 20px;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .input {
        margin-right: 0 !important;
    }
    .button {
        margin-top: 40px;
    }
}